<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增学生页面</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<center>

    {#<form action="/student_add/" method="post">#}
    {#    {% csrf_token %}#}

    <form class="form-horizontal" action="/student_add/" method="post">
        {% csrf_token %}
        {#        姓名#}
        <div class="form-group">
            <label class="col-sm-2 control-label">学生姓名</label>
            <div class="col-xs-2">
                <input type="text" name="t_name" class="form-control" placeholder="请输入姓名">
            </div>
        </div>
        {#        年龄#}
        <div class="form-group">
            <label class="col-sm-2 control-label">学生年龄</label>
            <div class="col-xs-2">
                <input type="text" name="t_age" class="form-control" placeholder="请输入年龄">
            </div>
        </div>
        {#        性别#}
        <div class="form-group">
            <label class="col-sm-2 control-label">学生性别</label>
            <div class="col-xs-2">
                <label class="radio-inline">
                    <input type="radio" name="t_sex" value="1"> 男

                </label>
            <label class="radio-inline">
                <input type="radio" name="t_sex" value="0"> 女
                </label>
            </div>
        </div>
        {#        籍贯#}
        <div class="form-group">
            <label class="col-sm-2 control-label">学生籍贯</label>
            <div class="col-xs-2">
                <select name="t_address" class="form-control">
                    <option value="0">请选择</option>
                    <option value="1">北京</option>
                    <option value="2">上海</option>
                    <option value="3">杭州</option>
                </select>
            </div>
        </div>
{#        日期#}
        <div class="form-group">
            <label class="col-sm-2 control-label">出生日期</label>
            <div class="col-xs-2">
                <input type="date" name="t_date">
            </div>
        </div>
{#        提交#}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-1">
                <button type="submit" class="btn btn-default">新增</button>
            </div>
        </div>
    </form>


    {#    学生姓名：<input type="text" name="t_name"><br>#}
    {#    学生年龄：<input type="text" name="t_age"><br>#}
    {#    学生性别：<input type="radio" name="t_sex" value="1">男#}
    {#            <input type="radio" name="t_sex" value="0">女#}
    {#    <br>#}
    {#    学生籍贯：<select name="t_address" class="form-control">#}
    {#                    <option value="0">请选择</option>#}
    {#                    <option value="1">北京</option>#}
    {#                    <option value="2">上海</option>#}
    {#                    <option value="3">杭州</option>#}
    {#            </select>#}
    {#    <br>#}
    {#    学生爱好：<input type="checkbox" name="t_hobby" value="1">学习#}
    {#            <input type="checkbox" name="t_hobby" value="2">打代码#}
    {#            <input type="checkbox" name="t_hobby" value="3">跑步#}
    {#            <input type="checkbox" name="t_hobby" value="4">打篮球#}
    {#    <br>#}
    {#    <button class="btn btn-default btn-lg" type="submit">提交</button>#}
    {#</form>#}

</center>
</body>
</html>